@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Facts Interview Trial Assignment </p>
    <p>
        <a asp-action="DisplayProducts" asp-controller="Products">Products</a>
    </p>
    <p>
        <a asp-action="UploadProduct" asp-controller="Products">Add Product</a>
    </p>
</div>
